.navbar__text {
    color: springgreen;
}

.card {
    width: 230px;
    height: 100%;
    background: #dddddd;
    border:springgreen solid 4px;
}

.card-body {
    padding: 16px;
}

.box-spece {
    display: inline;
    width: 10px;
    color: #ffffff;
}